html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

}

#backgroundImage {
    background-image: url('../Images/homePage.png');
    background-size: cover; /*Ensures the background image covers the entire container */
    background-position: center; /*Centers the background image */
    height: 100vh; /*Makes sure the background image covers the full height of the viewport */
    align-items: center;
    justify-content: center;
}

#indexBackground {
    background-image: url('../Images/catBook2.png');
    background-size: 300px; /* Ensures the background image covers the entire container */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */

}


.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    background-color:white;
    border-color:white;
    border-style:none;
    
}

.dropdown-item-text {
    display: block;
    padding: 0.25rem 1rem;
    color: midnightblue;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: midnightblue;
    background-color: #e9ecef;
}

li a {
    color:black;
}

#regdate {
    width:100%;
}